# Keil MDK build output
Objects/
Listings/
DebugConfig/
*.o
*.d
*.crf
*.dep
*.htm
*.lnp
*.sct
*.axf
*.hex
*.map
*.lst
*.bak
*.build_log.htm

# User-specific config
*.uvguix.*
*.uvoptx
EventRecorderStub.scvd

# OS
Thumbs.db
.DS_Store